@import url('https://fonts.googleapis.com/css2?family=Outfit&family=Uncial+Antiqua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Outfit&family=Uncial+Antiqua&display=swap');
@import "tailwindcss";


body {
  font-family: 'Uncial Antiqua', serif;
  scrollbar-width: none;
  width: 100vw;
}
*::-webkit-scrollbar {
  display: none;
}
* {
  -ms-overflow-style: none;  
}
#agenda-part{
    font-family: 'Marck Script', serif;
}